<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UNF-8">
    <title>static</title>
    <style>
        h2 {font-family : 'Verdana';
               font-size : 14 pt;
             font-weight : bold;
                   color : blue}
           ul {font-size : 12pt;
                   color : green;
                 display : inline-block
              text-align : left}              <!-- не работает? -->
    </style>
</head>

<body>
<center>
    <img src="https://www.yandex.ru/images/search?img_url=https%3A%2F%2Fimg.razrisyika.ru%2Fkart%2F60%2F1200%2F237699-vklyuchi-kotikov-11.jpg&lr=213&pos=0&rpt=simage&source=serp&text=%D0%BA%D0%BE%D1%82%D0%B8%D0%BA">
    <h2>Отделы супермаркета</h2>
    <p>
        <ul>
            <li>мясо</li>
            <li>Бакалея</li>
            <li>кондитер</li>
        </ul>
    </p>
</center>


</body>
</html>